extends layout

block header
    title Edit Form
    script(src='/javascripts/new_form.js')
block content
    h1 Edit Form: #{form.name}
        // Small modal
        button.btn.btn-danger.pull-right(type='button' data-toggle='modal' data-target='.delete-form') Delete Form
        button.btn.btn-warning.pull-right(type='button' data-toggle='modal' data-target='.delete-responses-form') Delete All Responses
        button.btn.btn-info.pull-right(type='button' data-toggle='modal' data-target='.clone-form') Clone Form
        div(class='modal fade delete-form' tabindex='-1' role='dialog' aria-labelledby='delete-form')
            div.modal-dialog.modal-sm
                div.modal-content
                    div.modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title.text-center Confirm Deletion
                    div.modal-body
                        form(method='post' action='form_delete')
                            input(type='hidden' name='form-name' value='#{form.name}')
                            input.btn.btn-danger.center-block(type='submit' name='submit' value='Delete')
        div(class='modal fade delete-responses-form' tabindex='-1' role='dialog' aria-labelledby='delete-responses-form')
            div.modal-dialog.modal-sm
                div.modal-content
                    div.modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title.text-center Confirm Deletion Of Responses
                    div.modal-body
                        form(method='post' action='form_delete_responses')
                            input(type='hidden' name='form-name' value='#{form.name}')
                            input.btn.btn-danger.center-block(type='submit' name='submit' value='Delete')
        div(class='modal fade clone-form' tabindex='-1' role='dialog' aria-labelledby='clone-form')
            div.modal-dialog.modal-sm
                div.modal-content
                    div.modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title.text-center Confirm Clone Form
                    div.modal-body
                        form(method='post' action='clone_form')
                            input(type='hidden' name='form-name' value='#{form.name}')
                            input.btn.btn-success.center-block(type='submit' name='submit' value='Clone')


    hr
    form(method='post' action='new_form')
        input(type='hidden' name='form-id' value='#{form_id}')
        .form-group
            label Form Name:
            input.form-control(type='text' name='form-name' placeholder='Name' value='#{form.name}' required)
        .form-group
            label Close Date:
            input.form-control(type='datetime-local' name='close-datetime' value='#{close}' required)
            input(type='hidden' name='timezone-offset' id='timezone-offset')
        .form-group
            label Is Live:
            &nbsp
            if form.live
                input(type='checkbox' name='form-live' checked)
            else
                input(type='checkbox' name='form-live')
        hr
        - var item_num = -1
        - var subitem_num = -1
        each item in form.items
            - item_num++
            .item-parent
                .form-group
                    label Item:
                    button.glyphicon.glyphicon-remove.pull-right.remove-item.text-danger
                    input.form-control(type='text' id='item-#{item_num}' name='item-num-#{item_num}' placeholder='Item' value='#{item.name}' required)
                    input(type='hidden' name='id-item-num-#{item_num}' value='#{item.item_id}')
                if item.subitems.length === 0
                    // Put the select here 
                    .form-group.item-sizes
                        label Available Sizes:
                        select.form-control.tall-select(multiple required name='item-size-#{item_num}')
                            if item.sizes.indexOf('') !== -1
                                option(value='' selected) N/A
                            else 
                                option(value='') N/A

                            if item.sizes.indexOf('XS') !== -1
                                option(value='XS' selected) X-Small
                            else 
                                option(value='XS') X-Small

                            if item.sizes.indexOf('S') !== -1
                                option(value='S' selected) Small
                            else 
                                option(value='S') Small

                            if item.sizes.indexOf('M') !== -1
                                option(value='M' selected) Medium
                            else 
                                option(value='M') Medium

                            if item.sizes.indexOf('L') !== -1
                                option(value='L' selected) Large
                            else 
                                option(value='L') Large

                            if item.sizes.indexOf('XL') !== -1
                                option(value='XL' selected) X-Large
                            else 
                                option(value='XL') X-Large

                .form-group
                    each subitem in item.subitems
                        - subitem_num++
                        .subitem-group.col-xs-offset-1
                            .form-group
                                label Sub Item:
                                button.glyphicon.glyphicon-remove.pull-right.remove-subitem.text-danger
                                input.form-control(type='text' id='subitem-#{subitem_num}' name='subitem-num-#{subitem_num}' placeholder='Sub Item' value='#{subitem.name}' required)
                                input(type='hidden' name='id-subitem-num-#{subitem_num}' value='#{subitem.subitem_id}')
                            .form-group.sizes-group
                                .form-group.item-sizes
                                    label Available Sizes:
                                    select.form-control.tall-select(multiple required name='subitem-size-#{subitem_num}')
                                        if subitem.sizes.indexOf('') !== -1
                                            option(value='' selected) N/A
                                        else 
                                            option(value='') N/A

                                        if subitem.sizes.indexOf('XS') !== -1
                                            option(value='XS' selected) X-Small
                                        else 
                                            option(value='XS') X-Small

                                        if subitem.sizes.indexOf('S') !== -1
                                            option(value='S' selected) Small
                                        else 
                                            option(value='S') Small

                                        if subitem.sizes.indexOf('M') !== -1
                                            option(value='M' selected) Medium
                                        else 
                                            option(value='M') Medium

                                        if subitem.sizes.indexOf('L') !== -1
                                            option(value='L' selected) Large
                                        else 
                                            option(value='L') Large

                                        if subitem.sizes.indexOf('XL') !== -1
                                            option(value='XL' selected) X-Large
                                        else 
                                            option(value='XL') X-Large

                    button.btn.btn-info.add-subitem Add Sub Item
                

        .form-group
            button.btn.btn-primary#add-item Add Item
        .form-group
            button.btn.btn-success.btn-block(type='submit') Submit Form
