extends layout

block header
    title Frisbee Forms


block content
    h1 Frisbee Order Forms
    hr
    form(method='post' action='info')
        each team in separated_forms
            h3 #{team.team}
            p Open forms:
                each form in team.open_forms
                    .form-group
                        button.btn.btn-default(type='submit' value='#{form.name}' name='form') #{form.name}
            br
            p Closed forms:
                each form in team.closed_forms
                    .form-group
                        button.btn.btn-default(type='submit' value='#{form.name}' name='form') #{form.name}
            hr
