extends layout

block header
    title Information
    script(src='javascripts/index_form.js')

block content
    h1 Information
    p
        span.note Note:&nbsp
        span Select your name from the dropdown and resubmit the form to edit your order. Your old order will be overwritten.
    p Please input the following information:
    form#index-form(action='form' method='post')
        input(type='hidden' value='#{form}' name='form')
        .form-group.col-md-12 
            label Name:
            select.form-control#select-name(name='select-name')
                option(selected) Custom
                - var index = 0
                each name in names
                    option(value='#{name.name}' id='#{index}-name' team='#{name.team}' phone='#{name.phone}' email='#{name.email}') #{name.name}
                    - index++
            - var index = 0
            each name in names
                .hidden(id='#{index}-number') #{name.number}
                - index++
        .form-group.text-muted.col-md-12 OR
        .form-group.col-md-6
            label First Name:
            input.form-control.textbox-name(type='text' name='textbox-firstname' placeholder='First Name')
        .form-group.col-md-6
            label Last Name:
            input.form-control.textbox-name(type='text' name='textbox-lastname' placeholder='Last Name')
        .form-group.col-md-6
            label Default Jersey Number:
            input.form-control(type='number' min='0' max='99' name='default-jersey-number' id='default-jersey-number' placeholder='Number' required)
        .form-group.col-md-6
            label Team:
            select.form-control#team(name='team' required)
                option#Other(value='Other' selected) Other
                option#TUFF(value='TUFF') TUFF
                option#Graze(value='Graze') Graze
                option#Melee(value='Melee') Melee
                option#Mayhem(value='Mayhem') Mayhem
                option#Coach(value='Coach') Coach
                option#Alumni(value='Alumni') Alumni
        .form-group.col-md-6
            label Phone Number:
            input.form-control#phone(type='number' min='0' max='9999999999' name='phone' placeholder='Phone' required)
        .form-group.col-md-6
            label Email Address:
            input.form-control#email(type='email' name='email' placeholder='Email' required)
        .form-group.col-md-12
            button.btn.btn-default(type='submit') Submit
