extends layout

block header
    title Information
    script(src='javascripts/index_form.js')

block content
    h1 Information
    p Please input the following information:
    form#index-form(action='form' method='post')
        input(type='hidden' value='#{form}' name='form')
        .form-group
            label Name:
            select.form-control#select-name(name='select-name')
                option(selected) Custom
                - var index = 0
                each name in names
                    option(value='#{name.name}' id='#{index}-name' team='#{name.team}') #{name.name}
                    - index++
            - var index = 0
            each name in names
                .hidden(id='#{index}-number') #{name.number}
                - index++
        .form-group.text-muted OR
        .form-group
            label First Name:
            input.form-control.textbox-name(type='text' name='textbox-firstname' placeholder='First Name')
        .form-group
            label Last Name:
            input.form-control.textbox-name(type='text' name='textbox-lastname' placeholder='Last Name')
        .form-group
            label Default Jersey Number:
            input.form-control(type='number' min='0' max='99' name='default-jersey-number' id='default-jersey-number' placeholder='Number' required)
        .form-group
            label Team:
            select.form-control#team(name='team' required)
                option#Other(value='Other' selected) Other
                option#TUFF(value='TUFF') TUFF
                option#Graze(value='Graze') Graze
                option#Melee(value='Melee') Melee
                option#Mayhem(value='Mayhem') Mayhem
        .form-group
            button.btn.btn-default(type='submit') Submit
